.header {
  max-width: 882px;
  width: 100%;
  margin: 45px auto 40px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  
}

@media screen and (max-width: 1023px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
    max-width: 582px;
    width: calc(100% - 38px);
  }
}


@media screen and (max-width: 639px) {
  .header {
   max-width: 282px;
  }
}