.profile__info {
  /* max-width: 100%;
  width: 100%; */
  max-width: calc(100% - 160px);
  width: 100%;
  margin: auto 0;
  
}

@media screen and (max-width: 1023px) {
  .profile__info {
    max-width: 100%;
    text-align: center;
  }
}
